<div class="card py-2">
  <p-menubar [model]="items" id="headerTemplate">
    <ng-template pTemplate="start">
      <div id="logoAndTitleDiv">
        <img
          src="favicon.ico"
          alt="logo"
          width="38"
          height="38"
          id="logoHeader"
        />
        <h1>ShopGular</h1>
      </div>
    </ng-template>
  <ng-template pTemplate="end">
    <div *ngIf="userName || firstName" style="margin-left:auto; padding-right: 12px; font-weight: 500;">
      Bonjour, {{ firstName || userName }}
    </div>
  </ng-template>
    <ng-template pTemplate="item" let-item let-root="root" id="shoppingItems">
      <a
        pRipple
        class="flex align-items-center p-menuitem-link mt-3"
        id="headerItems"
        *ngIf="item"
        [href]="item.link"
        [routerLink]="item.routerLink"
        (click)="item.command ? item.command($event) : null"
      >
        <span class="material-icons">{{ item.icon }}</span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        />
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i> </a></ng-template
  ></p-menubar>
</div>
